.main {
  width: 60%;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: 20px;
}

/* .inputBox {
  width: 200px;
  height: 100;
} */

.btn {
  background-color: red;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  /* float: right; */
}

.comment {
  max-width: 70%;
  /* border: 1px solid red; */
  /* display: inline; */
}
.btnIcon {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
  display: inline-block;
}
.up {
  color: green;
}
.down {
  color: red;
}
.vote {
  float: right;
  width: 28%;
  /* border: 1px solid red; */
}
