.main {
  width: 60%;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: 20px;
}

/* .inputBox {
  width: 200px;
  height: 100;
} */

.btn1 {
  background-color: red;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;

  /* float: right; */
}

.commentBox {
  margin-top: 50px;
}

.btnIcon {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
  display: inline-block;
}

.up {
  color: green;
}

.down {
  color: red;
}

.vote {
  margin-bottom: 50px;
}

.boxHead {
  font-weight: bold;
}